<html>
<head>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta charset="utf-8">
  <title>PyBibim Live Demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=0.0.1">
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>PyBibim Live Demo</h1>
      <p><a href="http://bibim-lang.github.io/">Bibim</a>의 파이썬 구현체인 <a href="https://github.com/bibim-lang/pybibim">PyBibim</a>을 웹에서 실행해 볼 수 있는 데모 페이지입니다.
      <br>이 데모 페이지는 <a href="https://microsoft.github.io/monaco-editor/index.html#">Monaco editor</a>를 이용해 만들어졌습니다.
      <br>소스코드는 <a href="https://github.com/bibim-lang/pybibim-web-demo">Github</a>에서 확인하실 수 있습니다.</p>
      <p>직접 Bibim을 사용해보고 싶으시다구요? <a href="https://github.com/bibim-lang/pybibim">PyBibim</a>을 직접 설치하여 사용해보세요! 데모는 데모일 뿐입니다.</p>
    </div>
  </div>
  <div class="row code">
    <div class="col-xs-6">
      <div class="left-panel">
        <textarea id="stdin" rows="3" cols="50" placeholder="STDIN"></textarea>
        <div id="editor"></div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="right-panel">
        <button id="run" class="btn btn-default" type="button" name="run">실행</button>
        <h3>실행 결과</h3>
        <pre id="output"></pre>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='bundle.js') }}?v=0.0.1" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='vs/loader.js') }}?v=0.0.1" type="text/javascript" charset="utf-8"></script>
</body>
</html>
